//- SITE FOOTER
footer.site-footer.site-footer--sticky: .container
	.row
		.col-sm-4
			h5.footer-heading Location
			p Lexicomm International, Ltd.
			p 127 Kingston Rd.
			p Cheltenham, Pa 19012
			p USA
			p tel: 1(215)635-3350
			p fax: 1(215)754-4663
			br
			ul.list-inline
				li: a(href='/about') More about Lexicomm
				li: a(href='/contact') info@lexicomm.com

		.col-sm-8
			.row
				.col-xs-4
					h5.footer-heading Services
					ul
						li: a(href='/services/#translation') Translation
						li: a(href='/services/#creative') Creative
						li: a(href='/services/#multimedia') Multimedia
						li: a(herf='/services/#website-localization') Website Localization
						li: a(herf='/services/#online-training-localization') Online Training Localization
						li: a(herf='/services/#project-management') Project Management						
						if !user
							li: a(href='/contact').js-auth-trigger 
				.col-xs-4
					h5.footer-heading Industries
					ul
						li: a(href='/industries/#pharmaceuticals-healthcare') Pharmaceuticals & Healthcare
						li: a(href='/industries/#commercial-legal-services') Commercial & Legal Services
						li: a(href='/industries/#manufacturing') Manufacturing
						li: a(href='/industries/#communications') Communications
						li: a(href='/industries/#education-training') Education & Training
						li: a(href='/industries/#government') Government
						li: a(href='/industries/#social-responsibility') Supporting Social Responsibility
				.col-xs-4
					h5.footer-heading Resources
					ul
						li: a(href='/about') About
						li: a(href='/partners') Partners 
						li: a(href='/industries/#') Video
						li: a(href='/industries/#') Audio
						li: a(href='/industries/#') Print
						li: a(href='/industries/#') Newsletter
						li: a(href='/industries/#') Brochure
					br		
				.col-xs-4
					h5.footer-heading Sponsers
					ul: each sponsor in sponsors
						li: a(href='/organisations#' + sponsor.id)= sponsor.name
	.row.footer-copyright
		p Copyright &copy; 2016 Lexicomm. Powered by <a href='http://Photonfile.com', target='_blank'>Photonfile</a>.
		p 
