extends ../../layouts/default

include ../../mixins/organiser

block intro
	.page-intro: .container
		h1.page-title About 
		p.lead 
		p.lead 

block content
	.page-content
		.section.highlight: .container
			section: .container-sm
			h2 About Lexicomm
			hr.mv-3
			h5 We work in all media and in all the world's commercial languages
			p Founded in 1987, Lexicomm is a professional-services company that helps its clients communicate, do business, and grow across languages, cultures, and borders.
			p We consult, advise, and partner with our clients to produce culturally appropriate translation and creative services.
			p 
			p Our clients range from small businesses and organizations to Fortune 500 companies. And they choose us because of the consistent quality of our work, our individualized service, and our dedication to their success.
			p 
			p 
			p 
			p 
			p 
			p 
			hr.mv-3
			h2 Mission & Values
			hr.mv-3
			h3 Our Mission
			p To provide best‐in‐class translation, communication, and consulting services as a trusted partner enabling clients to succeed and prosper across cultures and borders.
			hr.mv-3
			h3 Our Values
			p Lexicomm's values are focused on our clients, our employees, and our society:
			br
			h4.lead
					strong Client
					strong -
					strong focused:
				|  We are committed to:
			ul
				br
				li Making our clients' success our first priority
				li Earning and maintaining our clients' trust
				li Consistently adding value and delivering excellence to our clients' business
				li Continuously improving, deepening, and broadening our skills and expertise
				li Doing business with honesty and integrity by adhering to the highest ethical standards
			p  
			h4.lead
				strong Employee
				strong -
				strong focused:			
			|  We are committed to:
			ul
				br
				li Treating our internal and external staff with respect, both as individuals and as professionals who make our success possible
				li Compensating our associates fairly and competitively
				li Providing our employees a satisfactory work-life balance, complemented by opportunities for continuous professional development
				li Being passionate and enthusiastic about our work… and having fun!
			p  
			h4.lead
				strong Socially focused:			
			|  We are committed to:
			ul
				br
				li Helping to meet the needs of culturally diverse communities and society in general
				li Fostering effective communication and business worldwide
				li Achieving profitable growth and longterm financial success in a manner consistent with our mission and values	
		.section: .container-sm
			hr.mv-3
			h2 Our Management Team
			h4 Nancy E. Smoler, President - Lexicomm International, Ltd.
			p
			strong Nancy E. Smoler, President - Lexicomm International, Ltd.
			p
			| As founder and president of Lexicomm, Nancy Smoler has extensive experience producing high-quality, culturally appropriate, foreign-language print and multimedia for use internationally and domestically in all of the world's major commercial languages. Before establishing Lexicomm in 1987, Nancy worked as an international management consultant at CIGNA Corporation, the worldwide insurance and financial-services company. Her assignments required long-term overseas residence for on-site operational analyses in Asia, Europe, and the Caribbean. She is proficient in six languages. Her career and education highlights include on-site business and cross-cultural consulting experience in more than twelve countries, special assignments for the chief executive officer of DuPont including delivery in five languages of a quarterly "state of the company" address to stakeholders highlighting corporate direction and financial results. Nancy also served as a consultant to the Annenberg Foundation Trust, managing the production in fourteen languages of print, online, and video materials relating to the Constitution, including interviews with Supreme Court Justices, materials which were distributed to libraries across the United States. Nancy is a frequent keynote speaker on the topics of commercial and technical translation, multimedia translation, and eLearning localization, for various regional, national, and international organizations. She received her Bachelor of Arts in Linguistics from the University of Pennsylvania and the Ludwigs-Maximillian University of Munich.
			p  
			p
			strong Anthony J. Salvia, Vice President, Client Services
			p
			| Tony Salvia's career spans both the academic and corporate worlds. After earning his Ph.D. in Spanish language and literature from Rutgers University, where he also taught, Tony joined a subsidiary of Siemens AG as a bilingual technical writer. He soon made the transition into international marketing communications, managing the subsidiary's advertising, collateral, PR, and marketing events in the US, Latin America, and Europe. Following his almost nine years with Siemens, Tony joined Symbol Technologies, now a division of Motorola. During his tenure at Symbol, he went from heading up virtually every facet of marketing communications both domestically and worldwide to directing the company's international channel-marketing and channel-development initiatives and helping to establish the company's brand in Latin America. During his more than 25 years in corporate management positions, Tony has supervised and participated in a substantial number of multilingual translation and adaptation efforts, both as a marketing-program developer and as a department director. Tony is proficient in six languages and has used them to develop business and programs with customers, colleagues, and sales partners throughout Latin America and Europe. In his role with Lexicomm, Tony oversees all marketing and business development, and works directly with clients in key-account management. When not working in the language world, Tony likes to cross over into the sphere of music. He plays piano and enjoys classical music and most varieties of jazz. He especially loves bossa nova, though perhaps as much for those Brazilian lyrics as for the music. He returns to the language world when constructing his crossword puzzles, which have appeared in the New York Times, Los Angeles Times, USA Today, Chronicle of Higher Education, and New York Sun. He is also the crossword-puzzle constructor for Mphasis, a publication of Greater New York Mensa.
			hr.mv-3
			h3 Freelance Opportunities
			p
			| Lexicomm has exciting opportunities for freelance translators, editors, and terminology consultants in many specialized fields.
			p
			| If you consider yourself to be among the best in your field and are interested in joining the Lexicomm team, please contact us at 
			a(href='mail:info@lexicomm.com') info@lexicomm.com
			|  and include your CV, either as an attachment or in the body of the message. Be sure to include your language combination or other service offerings in the subject line.
			p  
			p Request a quote and contact sections have forms*
			hr.mv-3
			h6.lead Quotes
			p
			| Lexicomm has provided the counsel we need. I see them as an extension of our team!
			p
			strong
			em -A.G., Porter Novelli
			p
			| Lexicomm's expert translations of our patient education guide from English into Spanish have enabled our nursing publication to offer an added-value resource that improves communication with Spanish-speaking cancer patients...
			p
			strong
			em -A.L., UBM
			p
			| Lexicomm provided a translation of a preface to my book in Italian between the time I got on the plane to Milan and the time I landed...
			p
			strong -C.F., Author, The Big Thirst (Free Press, 2011)
			p
			strong  
			p
			| Our Portuguese issue project was very successful. Everything was done on time and represented very nicely.
			p
			strong -K.J., Paint & Coatings Industry Magazine
			p  
			p The team has been a fantastic support for CCFV & our clients.
			p
			strong -G.Z., Center City Film & Video
			.row.about-organisers
				each org in organisers
					.col-sm-3
						+organiser(org)
			
		
		//- CODE
		.section: .container-sm
			
block js
	// twitter
	script.
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
