extends ../../layouts/default

block intro
	.page-intro: .container
		h1 Industries & Clients
		
	
block content
	.page-content: .container
		h2 Experience & Expertise Across Multiple Industries
		h3.lead In working with clients over a broad spectrum of industries, Lexicomm has developed special expertise in these sectors, among others:
		p 
		hr.mv-3
		h3 Pharmaceuticals & Healthcare
		h5 Lexicomm - Trusted to Help in Matters of Life and Health
		p Lexicomm has over 20 years of experience working with virtually every major pharmaceutical company in the US and Europe. Over 80% of our medical translators have medical training (physicians, nurses, scientists) and all have at least 7 years' experience translating in the pharmaceutical and/or healthcare fields. Staff professional affiliations include:
		ul
			li American Medical Writers Association (AMWA)
			li Society for Technical Communications (STC)
			li American Translators Association (ATA)
			li Drug Information Association (DIA)
			li Numerous other international affiliations
		br
		h6.lead Selected List of Pharmaceutical & Healthcare Clients
		ul
			li Children's Hospital of Philadelphia
			li DePuy Spine & Codman
			li Eli Lilly
			li Merck
			li Novartis
			li Novo Nordisk
			li Pfizer
			li Schering-Plough
			li Tenet
			li Teva
			li Wyeth
			li CSL Behring
			li Nemours
			li KidsHealth
			br
		a(href='/members/mentors').btn.btn-primary Click here for video, audio, and print samples	
		hr.mv-3
		h3 Commercial & Legal Services
		h5 Lexicomm - Trusted to Help Manage Risk
		p Lexicomm offers language specialists experienced in finance, underwriting, risk management, etc., with knowledge of current laws and regulations to provide the accuracy required by complex financial concepts. We offer trained attorneys and other professionals with broad knowledge and expertise in US and international legal systems as well.
		p All Lexicomm commercial and leagal services specialists have extensive experience in translating contracts, discovery materials, proposals, patent and trademark applications, etc.
		br
		h6.lead Selected List of Commercial and Legal Services Clients
		ul
			li Aetna
			li Chubb
			li CIGNA
			li Morgan Stanley
			li Prudential
			br
		a(href='/members/mentors').btn.btn-primary Click here for video, audio, and print samples	
		hr.mv-3
		h3 Manufacturing
		h5 Lexicomm - Trusted to Help Keep Production and Products Moving Worldwide
		p Lexicomm offers a broad experience and expertise in working with manufacturing companies helping to keep production and profits moving around the world.
		p We offer a network of linguists and translators with industrial and manufacturing knowledge and expertise to ensure safe and efficient product production and delivery. Lexicomm manufacturing specialists are experienced in the areas of heavy equipment, consumer electronics, petrochemicals, or a variety of other industries.
		br
		h6.lead Selected List of Commercial and Manufacturing Clients
		ul
			li Air Products & Chemicals
			li CertainTeed Roofing
			li DuPont
			li Hercules
			li Mercedes-Benz
			li Rohm and Haas
			li Saint-Gobain
			li Gemalto
			li Quaker Chemicals
		hr.mv-3
		h3 Communications
		h5 Lexicomm - Trusted to Help Keep Communications Companies ahead of the Global High-Tech Curve
		p Technically literate translators, some of whom have as much as 25 years' international experience in the fast-paced world of high-tech.
		p Ability to deliver accurate work with quick turnaround to help enable seamless and profitable product introduction worldwide.
		br
		h6.lead Selected List of Commercial and Communications Clients
		ul
			li AT&T
			li Bell Labs
			li Comcast
			li Microsoft
			li Motorola
			li Nielsen Media Research
			li Verizon
			li Xerox
			li Unisys
		hr.mv-3
		h3 Education & Training
		h5 Lexicomm—Trusted to Help Develop Localized Training Tools that Maximize Learning
		p Linguists and subject-matter experts with extensive corporate and academic training and teaching experience.
		p In-depth knowledge of how to develop and localize worldwide certification and standards programs, interactive CBT, and a broad spectrum of educational materials.
		br
		h6.lead Selected List of Education & Training Clients
		ul
			li Educational Training Service (ETS)
			li of Pennsylvania
			li Project Management Institute (PMI)
			li Fairleigh Dickenson U.
			li Plainfield School District
			li Louisiana Dept. of Education
		hr.mv-3
		h3 Government
		h5 Lexicomm - Trusted to Help Serve our Multicultural Society
		p Lexicomm offers expertise in finance, banking, and taxation, among other areas. We are trusted by government agencies such as the FDIC and the IRS to help meet the needs of our multilingual and multicultural society.
		p Our experience working directly with government representatives in a consultative capacity on linguistic and cultural issues, as well as multimedia production and post-production places Lexicomm above all other translation services companies.
		br
		h6.lead Selected List of Government Clients:
		ul
			li Federal Deposit Insurance Corporation (FDIC)
			li Internal Revenue Service (IRS)
			li Louisiana Dept. of Education
			li NJ Urban Enterprise Zone (UEZ)
			li Health and Human Services
		hr.mv-3
		h3 Supporting Social Responsibility
		h5 Lexicomm - Trusted by a Broad Scope of Organizations to Support and Foster Socially Responsible Causes Worldwide
		br
		h6.lead Selected List of Organizations Focused on Social Responsibility:
		ul
			li
				strong American Gaming Association
				| - creating a better understanding of the gaming entertainment industry by educating the general public, elected officials, other decision makers, and the media.
			li
				strong The Annenberg Foundation Trust at Sunnylands
				| - advancing public understanding of, and appreciation for, democracy and other domestic and international issues.
			li
				strong Oceana
				| - largest international organization focused solely on ocean conservation.
			li
				strong Soroptomist
				| - international organization for business and professional women who work to improve the lives of women and girls.
			li
				strong Sustainable Forestry Initiative (SFI)
				| - world's largest forestry-certification program.
		br			
		a(href='/members/mentors').btn.btn-primary Example redirect button
		hr.mv-2