html
  body
    p home section:
    p
      strong  
    p
      strong Welcome To Lexicomm
    p
      strong Translation and Communications Services in All Languages and Media
    p
      | Lexicomm provides best-in-class translation, transcreation, and creative services to help its clients communicate, do business, and grow across languages, cultures, and borders.
    p
      | In the old business world, geography defined and often limited opportunity. Today, borders are melting. Whether you are doing business across town or around the globe, language is the linchpin of understanding and acceptance.
    p
      strong Lexicomm translates into your success
    p
      | Lexicomm helps you communicate with confidence across countries, communities, and cultures. From simple text translations to consulting on complex multilingual projects, we work in all of the world's major commercial languages, in all media and in many specialized fields. We invite you to discover how Lexicomm can help you translate global business opportunities into greater success.
    p  
    p Industries section:
    h2 Industries & Clients
    h4 Experience & Expertise Across Multiple Industries
    p
      | In working with clients over a broad spectrum of industries, Lexicomm has developed special expertise in these sectors, among others:
    ul
      li Pharmaceuticals & Healthcare
      li Commercial & Legal Services
      li Manufacturing
      li Communications
      li Education & Training
      li Government
      li Organizations That Support Social Responsibility
    p
      br
      |  What distinguishes our work in each of these key business areas is our staff of expert translators, linguists, and editors, our body of knowledge, and our track record of delivering consistently high quality results. More than as a vendor or service provider, hundreds of companies and organizations in these industries view Lexicomm as a trusted advisor.
    p  
    p Industries sub pages:
    h2 Pharmaceuticals & Healthcare
    h4 Lexicomm - Trusted to Help in Matters of Life and Health
    p
      | Lexicomm has over 20 years of experience working with virtually every major pharmaceutical company in the US and Europe. Over 80% of our medical translators have medical training (physicians, nurses, scientists) and all have at least 7 years' experience translating in the pharmaceutical and/or healthcare fields. Staff professional affiliations include:
    ul
      li American Medical Writers Association (AMWA)
      li Society for Technical Communications (STC)
      li American Translators Association (ATA)
      li Drug Information Association (DIA)
      li Numerous other international affiliations
    h4
      br
      |  Selected List of Pharmaceutical & Healthcare Clients
    ul
      li Children's Hospital of Philadelphia
      li DePuy Spine & Codman
      li Eli Lilly
      li Merck
      li Novartis
      li Novo Nordisk
      li Pfizer
      li Schering-Plough
      li Tenet
      li Teva
      li Wyeth
      li CSL Behring
      li Nemours
      li KidsHealth
    p  
    p Click here for video, audio, and print samples.
    p  
    p  
    p  
    p
      strong Commercial & Legal Services
    p
      strong Lexicomm - Trusted to Help Manage Risk
    p
      | Lexicomm offers language specialists experienced in finance, underwriting, risk management, etc., with knowledge of current laws and regulations to provide the accuracy required by complex financial concepts. We offer trained attorneys and other professionals with broad knowledge and expertise in US and international legal systems as well.
    p
      | All Lexicomm commercial and leagal services specialists have extensive experience in translating contracts, discovery materials, proposals, patent and trademark applications, etc.
    p
      strong Selected List of Commercial and Legal Services Clients
    ul
      li Aetna
      li Chubb
      li CIGNA
      li Morgan Stanley
      li Prudential
    p  
    p Click here for video, audio, and print samples.
    p  
    p
      strong Manufacturing
    p
      strong Lexicomm - Trusted to Help Keep Production and Products Moving Worldwide
    p
      | Lexicomm offers a broad experience and expertise in working with manufacturing companies helping to keep production and profits moving around the world.
    p
      | We offer a network of linguists and translators with industrial and manufacturing knowledge and expertise to ensure safe and efficient product production and delivery. Lexicomm manufacturing specialists are experienced in the areas of heavy equipment, consumer electronics, petrochemicals, or a variety of other industries.
    p
      strong Selected List of Commercial and Manufacturing Clients
    ul
      li Air Products & Chemicals
      li CertainTeed Roofing
      li DuPont
      li Hercules
      li Mercedes-Benz
      li Rohm and Haas
      li Saint-Gobain
      li Gemalto
      li Quaker Chemicals
    p  
    p
      strong Communications
    p
      strong
        | Lexicomm - Trusted to Help Keep Communications Companies ahead of the
        br
        |  Global High-Tech Curve
    p
      | Technically literate translators, some of whom have as much as 25 years' international experience in the fast-paced world of high-tech.
    p
      | Ability to deliver accurate work with quick turnaround to help enable seamless and profitable product introduction worldwide.
    p
      strong Selected List of Commercial and Communications Clients
    ul
      li AT&T
      li Bell Labs
      li Comcast
      li Microsoft
      li Motorola
      li Nielsen Media Research
      li Verizon
      li Xerox
      li Unisys
    p  
    p
      strong Education & Training
    p
      strong
        | Lexicomm—Trusted to Help Develop Localized Training Tools that
        br
        |  Maximize Learning
    p
      | Linguists and subject-matter experts with extensive corporate and academic training and teaching experience.
    p
      | In-depth knowledge of how to develop and localize worldwide certification and standards programs, interactive CBT, and a broad spectrum of educational materials.
    p
      strong Selected List of Education & Training Clients
    ul
      li Educational Training Service (ETS)
      li of Pennsylvania
      li Project Management Institute (PMI)
      li Fairleigh Dickenson U.
      li Plainfield School District
      li Louisiana Dept. of Education
    p  
    p
      strong Government
    p
      strong Lexicomm - Trusted to Help Serve our Multicultural Society
    p
      | Lexicomm offers expertise in finance, banking, and taxation, among other areas. We are trusted by government agencies such as the FDIC and the IRS to help meet the needs of our multilingual and multicultural society.
    p
      | Our experience working directly with government representatives in a consultative capacity on linguistic and cultural issues, as well as multimedia production and post-production places Lexicomm above all other translation services companies.
    p
      strong Selected List of Government Clients:
    ul
      li Federal Deposit Insurance Corporation (FDIC)
      li Internal Revenue Service (IRS)
      li Louisiana Dept. of Education
      li NJ Urban Enterprise Zone (UEZ)
      li Health and Human Services
    p  
    p
      strong Supporting Social Responsibility
    p
      strong
        | Lexicomm - Trusted by a Broad Scope of Organizations to Support and Foster Socially Responsible Causes Worldwide
    p
      strong Selected List of Organizations Focused on Social Responsibility:
    ul
      li
        strong American Gaming Association
        | - creating a better understanding of the gaming entertainment industry by educating the general public, elected officials, other decision makers, and the media.
      li
        strong The Annenberg Foundation Trust at Sunnylands
        | - advancing public understanding of, and appreciation for, democracy and other domestic and international issues.
      li
        strong Oceana
        | - largest international organization focused solely on ocean conservation.
      li
        strong Soroptomist
        | - international organization for business and professional women who work to improve the lives of women and girls.
      li
        strong Sustainable Forestry Initiative (SFI)
        | - world's largest forestry-certification program.
    p  
    p Services section:
    h2
      | Communications Services & Solutions
      br
      |  in All Languages and Media
    p
      | When it comes to enabling clients to succeed across languages, cultures, and borders, Lexicomm offers a complete array of services and solutions.
    p
      | To complement our translation and transcreation capabilities in all the world's commercial languages, we offer&nbspmultilingual creative services ranging from copy editing to original copywriting and scriptwriting to campaign development.
    p
      | For nearly a quarter of a century, we've provided our clients with multimedia production services, including 
      em
        strong audio/video production
      |  and post-production, adaptation, transcription,
      strong dubbing
      | , 
      strong subtitling
      | , and 
      em
        strong voiceover
      | . And we've got complementary expertise in 
      strong digital desktop publishing
      | , including document design and layout, in virtually all graphic formats.
    p
      | Further, with the critical role that the Internet plays in today's business world, we're also helping our clients reach their international target audiences and personnel through comprehensive website localization and eLearning localization.
    p
      | Finally, we oversee everything we do with thorough quality and budget control through our international project management team.
    p  
    p Services sub pages:
    h2 Translation Services
    h4
      strong Lexicomm translates into your success
    p
      | Translation is the heart of what we do. In today's global market, multilingual and multicultural communications and expertise are ever more strongly linked to business growth and profitability. For 24 years, our linguists, subject-matter experts, and communications consultants have been delivering the highest-quality results for our clients—in all of the world's commercial languages.
    p
      | Our clients understand that the better they can communicate their messages across languages, cultures, and borders, the more effectively they can launch and market their products and services, and the more likely they are to succeed with them on a global scale. That's precisely our focus - to do what it takes to translate our clients' goals into their success.
    h4
      strong The expertise to meet your full range of requirements
    p
      | At times, translation is a straightforward exercise taking a text from language A and expressing it in language B. Much more often, projects are more complex. What works in one language may not work in another.
    p
      | Consequently, especially in more complex projects, our first step is to analyze and understanding our clients' overall requirements and objectives. Then we apply our expertise in translation, transcreation, localization, and media to recommend an optimal approach in terms of deliverables, formats, timeframe, and budget.
    p
      | But whether the project is simple or complex, our first goal is to help you meet your specific business objectives.
    p  
    p
      strong Creative Services
    p
      strong Going Beyond Translation
    p
      | To complement our translation and transcreation capabilities in all the world's commercial languages, Lexicomm offers multilingual creative services ranging from:
    ul
      li Copy Editing
      li Original Copywriting
      li Scriptwriting
      li Campaign Development
    p
      br
      |  When communicating internationally, or even cross-culturally within the US, messages, themes, images, etc., contained in ads, PSAs, videos, and other marketing-communications vehicles may require extensive editing, adaptation, or a complete rewrite to make them appropriate for their target audiences.
    p
      | And we’ve developed complementary expertise in digital desktop publishing, including document design and layout, in virtually all graphic formats, whether for European, Asian, or right-to-left languages such as Arabic and Hebrew.
    p
      | Through its worldwide staff and subject-matter experts, Lexicomm has worked with clients in a number of key industries, for example:
    ul
      li Pharmaceuticals and Healthcare
      li Commercial and Legal Services
      li
      li Communications
      li Education and Training
      li Government
      li Social Responsibility
    p  
    p  
    p
      strong Multimedia Production
    p
      strong Integrating languages, cultures, and media
    p
      | For nearly a quarter of a century, we've provided our clients with multimedia production services. Professionals and novices alike rely on Lexicomm to deliver the highest quality audio and video—offering turnkey service that takes each project from concept though delivery, including:
    ul
      li Production and Post-Production
      li Script Development and Adaptation
      li Transcription
      li Casting
      li Graphics Placement
      li Dubbing
      li Subtitling
      li Voiceover
    p
      br
      |  We work with leading media producers to create and deliver communications that maximize our clients' potential for success.
    p
      | And we’ve developed complementary expertise in digital desktop publishing, including document design and layout, in virtually all graphic formats, whether for European, Asian, or right-to-left languages such as Arabic and Hebrew.
    p
      | Lexicomm understands what it takes to reach diverse audiences with consistent messages across multiple media, acknowledging the differences between the written and spoken word, educational versus promotional communications, translating for subtitling versus narration or dubbing, and the impact of nonverbal cues such as images and gestures.
    p
      | As a truly multimedia company, Lexicomm is experienced in adapting messages to a variety of media and purposes. Translated and transcreated materials are accurate linguistically, deliver consistent messages, and are true to their objectives to train, educate, promote, sell, entertain, or motivate.
    p
      strong Website Localization
    p
      strong The Corporate Website: Today's Communications Hub
    p
      | Among the services 
      strong Lexicomm
      |  provides, website localization has become one of the most critical. With all the companies and organizations using their websites as the primary means of communicating with their clients, markets, the press, the financial community, investors, and all other stakeholders, the global business world demands communications in multiple languages. As a result, website localization is an essential requirement to doing business across languages, cultures, and borders.
    p
      | In addition to translation and cultural adaptation of text and graphics, website localization requires expert programming capabilities. Not only must the programming take into account different languages and graphics, but also the varying volume of text that results from localizing from one language or writing system into another.
    p
      | And since websites must be kept current to remain relevant, ongoing maintenance must continually take into account all of these linguistic, graphical, and engineering factors.
    p
      | Combining the required linguistic, cultural, and programming expertise, Lexicomm has been successfully localizing websites across the spectrum of its customer base.
    p
      strong  
    p
      strong Online Training Localization
    p
      strong Enabling Learning Across Languages, Cultures, and Borders
    p
      | Like corporate and marketing communications, staff and customer training has become increasingly web-based. The localization of eLearning takes into account all the considerations of website localization: linguistic, cultural, and graphic differences, coupled with programming expertise.
    p
      | From its inception, Lexicomm has been adapting training programs for clients of all sizes across a broad variety of industries.
    p
      strong Project Management
    p
      strong Integrating All the Components
    p
      | Complex projects require a systematic team approach. Accordingly, highly trained project managers with linguistic experience and production skills supervise translation and localization assignments. They are your single point of contact throughout each project, and their task is to coordinate the work of professional translators, editors, and/or programmers who are both native speakers and knowledgeable in your industry.
    p
      | Depending on the nature of the assignment, Lexicomm's project managers may manage a wide variety of resources and tools. Among the tools utilized by the translation team, for example, is memory and translation software to support complex projects and increase efficiency. However, since translation is as much an art as it is a science, no technology available can fully and reliably substitute for the skill of the human translator.
    p
      | For audio and video assignments, Lexicomm's project managers work with bilingual actors and directors and experienced engineers in professional studios.&nbspMultilingual website projectsintegrate the contributions of teams of translators and developers. And regardless of the type of assignment, editors review all translations and published materials including multimedia text, charts, and graphics. Our commitment is to accurate and effective communications with exceptional service, priced fairly.
    p
      | Often coordinating across multiple time zones, our project managers integrate a variety of inputs and sources to meet their commitment to delivering accurate communications on time, on target, and on budget.
    p  
    p  
    p Resources section:
    h2 Resources
    p Coming Soon:
    ul
      li Lexicomm Current Newsletter
      li Lexicomm Case Studies
      li Lexicomm's Brochure
    p  
    p Video, audio, and print samples
    p  
    p Partner section:
    h2 Partnering with Lexicomm
    h4
      | Lexicomm - Expanding the Capabilities of Agencies and Production Companies Worldwide A Value Added Partnership
    p
      | In addition to working with direct clients in a wide range of industries, Lexicomm actively partners with marketing and advertising agencies, film and video production companies, PR firms and other similar service providers in projects requiring foreign-language and cultural expertise.
    h4 Working Transparently with Our Agency Partners, Lexicomm:
    ul
      li Expands partners' capabilities - focused on language & cultural consulting
      li Becomes part of an organization; acting on the partner's behalf
      li Attends planning & exploratory meetings
      li Participates in proposal development
      li Provides sample translations and quick estimates
      li Becomes an in-house linguistic consulting resource
      li Provides expedited turnaround
      li Offers creative & cultural consulting
      li Conducts focus groups
      li Presents/co-presents
    p  
    p About us section:
    h2 About Lexicomm
    p
      | Founded in 1987, Lexicomm is a professional-services company that helps its clients communicate, do business, and grow across languages, cultures, and borders.
    p
      | We consult, advise, and partner with our clients to produce culturally appropriate translation and creative services.
    h4 We work in all media and in all the world's commercial languages
    p
      | Our clients range from small businesses and organizations to Fortune 500 companies. And they choose us because of the consistent quality of our work, our individualized service, and our dedication to their success.
    p  
    p About us subpages:
    h2 Mission & Values
    h4 Our Mission
    p
      | To provide best-in-class translation, communication, and consulting services as a trusted partner enabling clients to succeed and prosper across cultures and borders.
    h4 Our Values
    p Lexicomm's values are focused on our clients, our employees, and our society:
    p
      strong Client
      strong -
      strong focused:
      br
      |  We are committed to:
    ul
      li Making our clients' success our first priority
      li Earning and maintaining our clients' trust
      li Consistently adding value and delivering excellence to our clients' business
      li Continuously improving, deepening, and broadening our skills and expertise
      li
        | Doing business with honesty and integrity by adhering to the highest ethical standards
    p  
    p
      strong Employee
      strong -
      strong focused:
      br
      |  We are committed to:
    ul
      li
        | Treating our internal and external staff with respect, both as individuals and as
        br
        |  professionals who make our success possible
      li Compensating our associates fairly and competitively
      li
        | Providing our employees a satisfactory work-life balance, complemented by opportunities for continuous professional development
      li Being passionate and enthusiastic about our work… and having fun!
    p  
    p
      strong Socially focused:
      br
      |  We are committed to:
    ul
      li
        | Helping to meet the needs of culturally diverse communities and society in
        br
        |  general
      li Fostering effective communication and business worldwide
      li
        | Achieving profitable growth and longterm financial success in a manner consistent with our mission and values
    p  
    h2 Our Management Team
    p
      strong Nancy E. Smoler, President - Lexicomm International, Ltd.
    p
      | As founder and president of Lexicomm, Nancy Smoler has extensive experience producing high-quality, culturally appropriate, foreign-language print and multimedia for use internationally and domestically in all of the world's major commercial languages. Before establishing Lexicomm in 1987, Nancy worked as an international management consultant at CIGNA Corporation, the worldwide insurance and financial-services company. Her assignments required long-term overseas residence for on-site operational analyses in Asia, Europe, and the Caribbean. She is proficient in six languages. Her career and education highlights include on-site business and cross-cultural consulting experience in more than twelve countries, special assignments for the chief executive officer of DuPont including delivery in five languages of a quarterly "state of the company" address to stakeholders highlighting corporate direction and financial results. Nancy also served as a consultant to the Annenberg Foundation Trust, managing the production in fourteen languages of print, online, and video materials relating to the Constitution, including interviews with Supreme Court Justices, materials which were distributed to libraries across the United States. Nancy is a frequent keynote speaker on the topics of commercial and technical translation, multimedia translation, and eLearning localization, for various regional, national, and international organizations. She received her Bachelor of Arts in Linguistics from the University of Pennsylvania and the Ludwigs-Maximillian University of Munich.
    p  
    p
      strong Anthony J. Salvia, Vice President, Client Services
    p
      | Tony Salvia's career spans both the academic and corporate worlds. After earning his Ph.D. in Spanish language and literature from Rutgers University, where he also taught, Tony joined a subsidiary of Siemens AG as a bilingual technical writer. He soon made the transition into international marketing communications, managing the subsidiary's advertising, collateral, PR, and marketing events in the US, Latin America, and Europe. Following his almost nine years with Siemens, Tony joined Symbol Technologies, now a division of Motorola. During his tenure at Symbol, he went from heading up virtually every facet of marketing communications both domestically and worldwide to directing the company's international channel-marketing and channel-development initiatives and helping to establish the company's brand in Latin America. During his more than 25 years in corporate management positions, Tony has supervised and participated in a substantial number of multilingual translation and adaptation efforts, both as a marketing-program developer and as a department director. Tony is proficient in six languages and has used them to develop business and programs with customers, colleagues, and sales partners throughout Latin America and Europe. In his role with Lexicomm, Tony oversees all marketing and business development, and works directly with clients in key-account management. When not working in the language world, Tony likes to cross over into the sphere of music. He plays piano and enjoys classical music and most varieties of jazz. He especially loves bossa nova, though perhaps as much for those Brazilian lyrics as for the music. He returns to the language world when constructing his crossword puzzles, which have appeared in the New York Times, Los Angeles Times, USA Today, Chronicle of Higher Education, and New York Sun. He is also the crossword-puzzle constructor for Mphasis, a publication of Greater New York Mensa.
    h2 Freelance Opportunities
    p
      | Lexicomm has exciting opportunities for freelance translators, editors, and terminology consultants in many specialized fields.
    p
      | If you consider yourself to be among the best in your field and are interested in joining the Lexicomm team, please contact us at 
      a(href='mail:info@lexicomm.com') info@lexicomm.com
      |  and include your CV, either as an attachment or in the body of the message. Be sure to include your language combination or other service offerings in the subject line.
    p  
    p Request a quote and contact sections have forms*
    p  
    p Quotes in page:
    p
      | Lexicomm has provided the counsel we need. I see them as an extension of our team!
    p
      strong
        em -A.G., Porter Novelli
    p
      | Lexicomm's expert translations of our patient education guide from English into Spanish have enabled our nursing publication to offer an added-value resource that improves communication with Spanish-speaking cancer patients...
    p
      strong
        em -A.L., UBM
    p
      | Lexicomm provided a translation of a preface to my book in Italian between the time I got on the plane to Milan and the time I landed...
    p
      strong -C.F., Author, The Big Thirst (Free Press, 2011)
    p
      strong  
    p
      | Our Portuguese issue project was very successful. Everything was done on time and represented very nicely.
    p
      strong -K.J., Paint & Coatings Industry Magazine
    p  
    p The team has been a fantastic support for CCFV & our clients.
    p
      strong -G.Z., Center City Film & Video
    p  
