extends ../../layouts/default


block intro
	.page-intro: .container
		h1 Partners
		
block content
	.page-content: .container
		h2 Partnering with Lexicomm
		h5 Lexicomm - Expanding the Capabilities of Agencies and Production Companies Worldwide A Value Added Partnership
		p In addition to working with direct clients in a wide range of industries, Lexicomm actively partners with marketing and advertising agencies, film and video production companies, PR firms and other similar service providers in projects requiring foreign-language and cultural expertise.
		h3.lead  Working Transparently with Our Agency Partners, Lexicomm:
		br
		ul			
			li Expands partners' capabilities - focused on language & cultural consulting
			li Becomes part of an organization; acting on the partner's behalf
			li Attends planning & exploratory meetings
			li Participates in proposal development
			li Provides sample translations and quick estimates
			li Becomes an in-house linguistic consulting resource
			li Provides expedited turnaround
			li Offers creative & cultural consulting
			li Conducts focus groups
			li Presents/co-presents

		
		//- CODE
		.section: .container-sm
block js
	// twitter
	script.
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");			