extends ../../layouts/default

include ../../mixins/organisation
block intro
	.page-intro: .container
		h1 Services
block content		
	.page-content: .container
		h1 Services
		br
		h2.lead Communications Services & Solutions in All Languages and Media
		p When it comes to enabling clients to succeed across languages, cultures, and borders, Lexicomm offers a complete array of services and solutions.
		p To complement our translation and transcreation capabilities in all the world's commercial languages, we offer multilingual creative services ranging from copy editing to original copywriting and scriptwriting to campaign development.
		p For nearly a quarter of a century, we've provided our clients with multimedia production services, including audio/video production and post-production, adaptation, transcription,dubbing, subtitling, and voiceover. And we've got complementary expertise in digital desktop publishing, including document design and layout, in virtually all graphic formats.
		p Further, with the critical role that the Internet plays in today's business world, we're also helping our clients reach their international target audiences and personnel through comprehensive website localization and eLearning localization.
		p Finally, we oversee everything we do with thorough quality and budget control through our international project management team.
		hr.mv-3
		//- .buttons
			if !user
				a(href='/join').btn.btn-primary Join SydJS
			a(href='/members').btn.btn-default View Members
			a(href='/members/mentors').btn.btn-default View Mentors
			

	.page-content: .container
		#translation
		h3 Translation Services
		h5.lead Lexicomm translates into your success
		br
		p Translation is the heart of what we do. In today's global market, multilingual and multicultural communications and expertise are ever more strongly linked to business growth and profitability. For 24 years, our linguists, subject‐matter experts, and communications consultants have been delivering the highest‐quality results for our clients—in all of the world's commercial languages.
		p Our clients understand that the better they can communicate their messages across languages, cultures, and borders, the more effectively they can launch and market their products and services, and the more likely they are to succeed with them on a global scale. That's precisely our focus - to do what it takes to translate our clients' goals into their success.
		h4.lead The expertise to meet your full range of requirements
		p At times, translation is a straightforward exercise taking a text from language A and expressing it in language B. Much more often, projects are more complex. What works in one language may not work in another.
		br
		p Consequently, especially in more complex projects, our first step is to analyze and understanding our clients' overall requirements and objectives. Then we apply our expertise in translation, transcreation, localization, and media to recommend an optimal approach in terms of deliverables, formats, timeframe, and budget.
		p But whether the project is simple or complex, our first goal is to help you meet your specific business objectives.
		hr.mv-2
		#creative
		h3 Creative Services
		h5.lead Going Beyond Translation
		p To complement our translation and transcreation capabilities in all the world's commercial languages, Lexicomm offers multilingual creative services ranging from:
		ul
			li Copy Editing
			li Original Copywriting
			li Scriptwriting
			li Campaign Development
		br
		p When communicating internationally, or even cross‐culturally within the US, messages, themes, images, etc., contained in ads, PSAs, videos, and other marketing‐communications vehicles may require extensive editing, adaptation, or a complete rewrite to make them appropriate for their target audiences.
		p And we’ve developed complementary expertise in digital desktop publishing, including document design and layout, in virtually all graphic formats, whether for European, Asian, or right-to-left languages such as Arabic and Hebrew.
		br
		p Through its worldwide staff and subject‐matter experts, Lexicomm has worked with clients in a number of key industries, for example:
		ul
			li Pharmaceuticals and Healthcare
			li Commercial and Legal Services
			li Manufacturing
			li Communications
			li Education and Training
			li Government
			li Social Responsibility
		hr.mv-2
		#multimedia
		h3 Multimedia Production
		h5.lead Integrating languages, cultures, and media
		p For nearly a quarter of a century, we've provided our clients with multimedia production services. Professionals and novices alike rely on Lexicomm to deliver the highest quality audio and video—offering turnkey service that takes each project from concept though delivery, including:
		ul
			li Production and Post-Production
			li Script Development and Adaptation
			li Transcription
			li Casting
			li Graphics Placement
			li Dubbing
			li Subtitling
			li Voiceover
		br
		p We work with leading media producers to create and deliver communications that maximize our clients' potential for success.
		p design and layout, in virtually all graphic formats, whether for European, Asian, or right-to-left languages such as Arabic and Hebrew.		
		p Lexicomm understands what it takes to reach diverse audiences with consistent messages across multiple media, acknowledging the differences between the written and spoken word, educational versus promotional communications, translating for subtitling versus narration or dubbing, and the impact of nonverbal cues such as images and gestures.
		p As a truly multimedia company, Lexicomm is experienced in adapting messages to a variety of media and purposes. Translated and transcreated materials are accurate linguistically, deliver consistent messages, and are true to their objectives to train, educate, promote, sell, entertain, or motivate.
		hr.mv-2
		#website-localization
		h3 Website Localization
		h5.lead The Corporate Website: Today's Communications Hub
		p Among the services Lexicomm provides, website localization has become one of the most critical. With all the companies and organizations using their websites as the primary means of communicating with their clients, markets, the press, the financial community, investors, and all other stakeholders, the global business world demands communications in multiple languages. As a result, website localization is an essential requirement to doing business across languages, cultures, and borders.
		p In addition to translation and cultural adaptation of text and graphics, website localization requires expert programming capabilities. Not only must the programming take into account different languages and graphics, but also the varying volume of text that results from localizing from one language or writing system into another.
		p And since websites must be kept current to remain relevant, ongoing maintenance must continually take into account all of these linguistic, graphical, and engineering factors.
		p Combining the required linguistic, cultural, and programming expertise, Lexicomm has been successfully localizing websites across the spectrum of its customer base.
		hr.mv-2
		#online-training-localization
		h3 Online Training Localization
		h5.lead Enabling Learning Across Languages, Cultures, and Borders
		p Like corporate and marketing communications, staff and customer training has become increasingly web-based. The localization of eLearning takes into account all the considerations of website localization: linguistic, cultural, and graphic differences, coupled with programming expertise.
		p From its inception, Lexicomm has been adapting training programs for clients of all sizes across a broad variety of industries.
		hr.mv-2
		#project-management
		h3 Project Management
		h5.lead Integrating All the Components
		p Complex projects require a systematic team approach. Accordingly, highly trained project managers with linguistic experience and production skills supervise translation and localization assignments. They are your single point of contact throughout each project, and their task is to coordinate the work of professional translators, editors, and/or programmers who are both native speakers and knowledgeable in your industry.
		p Depending on the nature of the assignment, Lexicomm's project managers may manage a wide variety of resources and tools. Among the tools utilized by the translation team, for example, is memory and translation software to support complex projects and increase efficiency. However, since translation is as much an art as it is a science, no technology available can fully and reliably substitute for the skill of the human translator.
		p For audio and video assignments, Lexicomm's project managers work with bilingual actors and directors and experienced engineers in professional studios. Multilingual website projectsintegrate the contributions of teams of translators and developers. And regardless of the type of assignment, editors review all translations and published materials including multimedia text, charts, and graphics.
		p Our commitment is to accurate and effective communications with exceptional service, priced fairly.
		p Often coordinating across multiple time zones, our project managers integrate a variety of inputs and sources to meet their commitment to delivering accurate communications on time, on target, and on budget.
block content
	.page-content: .container
					
block content
	.page-content: .container
		.organisations
			if organisations.length
				each org, i in organisations
					if i
						hr
					+organisation(org)
			else
				h3.text-muted There are no organisations yet.
